*-compiled.js
*.js.map
dist/
node_modules/
.DS_Store
._.DS_Store
Thumbs.db
npm-debug.log
todo.txt
.idea/workspace.xml
*.orig
checkstyle-result.xml
xunit.xml
src/**/*.d.ts
src/**/*.js
test/**/*.d.ts
test/**/*.js
coverage/**
misc/DebugPictures/.idea/workspace.xml
typings/globals/node/index.d.ts
**.7z
typings/**/*d.ts
